<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3 justify-content-between">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Messages</a>
        <a class="nav-item nav-link" routerLink="message/send">Send a Message</a>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" (click) ="logout()">Logout</button>
</nav>

<!-- main app container -->
<div class="container">
    <!-- <app-login></app-login> -->
    <!-- <app-sendmessage></app-sendmessage>
    <app-listmessages></app-listmessages> -->
    <router-outlet></router-outlet>
</div>