<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/account/login">Login</a>
        <a class="nav-item nav-link" routerLink="/account/register">Register</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <!-- <app-login></app-login> -->
    <!-- <app-sendmessage></app-sendmessage>
    <app-listmessages></app-listmessages> -->
    <router-outlet></router-outlet>
</div>