<div>
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="recipient_phone_number">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="3" formControlName="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
</div>